/* Reset some basic elements */
body, h1, p {
    margin: 0;
    padding: 0;
}
/* HERO */

/********************NOT IMPORTANT********************/

body{
    background: #171717 !important;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
  }

  
