/** @format */

.storyTelling {
  .first,
  .second,
  .third,
  .fourth {
    margin-top: 20rem;
    margin-bottom: 0rem;

  }
  p {
    text-align: center;
    color: white !important;
    font-size: 24px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-in.active {
    opacity: 1;
  }
  .fourth {
    margin-bottom: 20vh;
  }
  .storyTelling .first.fade-in iframe {
    display: block; /* Set iframe to block element to center it */
    margin: 0 auto; /* Auto margin for centering */
  }
}
