/** @format */

.storyTelling {
  .first,
  .second,
  .third,
  .fourth {
    margin-top:20rem;
    margin-bottom:0rem;
    p {
      text-align: center;
      color: white;
      font-size: 24px;
    }
  }
}
